
*{box-sizing: border-box;}

#ask, #end, #hscore{
    display: none;
}

.container{
    /*margin-top: 1%;
    margin-bottom: 1%;*/
    width: 100%;
    padding: 1em;
    /*min-height: 20px;*/
    
}



.btn{
    margin-top: 2%;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    
}