
*{box-sizing: border-box;}



.container{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    padding: 1em;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    
}